/* STYLESHEET OF THE FIRST PORTFOLIO*/

/* NAVBAR */
nav {
    background-color: floralwhite;
    height: 61px;
    line-height: 64px;
}
 a.logo {
    color: #000;
    font-family: 'Cinzel';
    text-decoration: none;
    font-size: 50px;
}

.fa-instagram ,.fa-twitter , .fa-sistrix , .fa-align-justify{
    color: #000000;
    font-size: 15px;
}
.fa-instagram ,.fa-twitter , .fa-sistrix {
    margin-right: -2px;
    font-size: 19px;
}
.fa-align-justify:before {
    content: "\f039";
    padding: 119px;
    font-size: 21px;
    cursor: pointer;
}
.boundary {
    border-right: 1px lightgray double;
    padding-right: 10px;
}
/* END */

/* IMAGES */
.row {
    margin-left: 89px;
}
.label1 {
    margin-left: 100px;
    margin-top: 86px;
}

/* SUBSCRIBE DEMO */

.hello_subscribe{
    font-family: 'Cinzel';
    margin-left: 524px;
    font-size: 34px;
}
.subscribe {
    font-family: 'Cinzel';
    text-align: center;
    font-size: 27px;
}
.label2 {
    margin-top: 82px;
}
.label0 {
    margin-top: 50px;
}
.row .col.s5 {
    width: 25%;
    margin-left: auto;
    left: 470px;
    right: auto;
    margin-top: 35px;
}
.btn, .btn-large {
    background-color: antiquewhite;
    color: black;
    font-family: 'Satisfy';

}
.btn:hover{
    background-color: ghostwhite;
    color: #000;
}
#submit {
    margin-left: 71px;
}

/* FOOTER */
.page-footer {
    padding-top: 1px;
    color: black;
    background-color: papayawhip;
}

/* SUBSCRIPTION LOGO */

#logos1 {
    margin-left: 50px;
}