/* STYLESHEET OF THE FIRST PORTFOLIO*/

/* NAVBAR */
nav {
    background-color: floralwhite;
    height: 61px;
    line-height: 64px;
}
 a.logo {
    color: #000;
    font-family: 'Satisfy';
    text-decoration: none;
    font-size: 60px;
    line-height: 69px;
}
 .logo:first-letter {
     color: crimson;
     font-weight: bold;
     font-size: 50px;
 }

.fa-instagram ,.fa-twitter , .fa-sistrix , .fa-align-justify{
    color: #000000;
    font-size: 15px;
}
.fa-instagram ,.fa-twitter , .fa-sistrix {
    margin-right: -2px;
    font-size: 19px;
}
.fa-align-justify:before {
    content: "\f039";
    padding: 119px;
    font-size: 21px;
    cursor: pointer;
}
.boundary {
    border-right: 1px lightgray double;
    padding-right: 10px;
}
/* END */

/* IMAGES */
.row {
    margin-left: 89px;
}
.label1 {
    margin-left: 100px;
    margin-top: 86px;
    margin-bottom: 71px;
}

/* SUBSCRIBE DEMO */

.hello_subscribe{
    font-family: 'Cinzel';
    margin-left: 524px;
    font-size: 34px;
}
.subscribe {
    font-family: 'Cinzel';
    text-align: center;
    font-size: 27px;
}
.label2 {
    margin-top: 82px;
}
.label0 {
    margin-top: 127px;
}
.row .col.s5 {
    width: 25%;
    margin-left: auto;
    left: 470px;
    right: auto;
    margin-top: 71px;
}
.btn, .btn-large {
    background-color: crimson;
    color: wheat;
    font-family: 'Satisfy';
    margin-left: 32px;
    font-weight: bold;
}
.btn:hover{
    background-color: ghostwhite;
    color: #000;
}
#submit {
    margin-left: 71px;
}

/* FOOTER */
.page-footer {
    padding-top: 1px;
    color: black;
    background-color: cornsilk;
}

/* SUBSCRIPTION LOGO */

#logos1 {
    margin-left: 277px;
    font-size: 40px;
    margin-top: 8px;
}

/* FOOTER */

#style {
    font-family: 'Satisfy';
    color: crimson;
    font-weight: bold;
}
#style2 {
    font-family: 'Satisfy';
    cursor: pointer;
    color: crimson;
    font-weight: bold;
}

/* ARTICLES */

h5 , p {
    font-family: Satisfy;
    color: crimson;
}
/* CARDS */

.card .card-title {
    font-size: 30px;
    font-weight: bold;
}

/* ARABIC WORDS */

.arabic {
    font-family: 'Aref Ruqaa';
    font-size: 72px;
    margin-left: 50px;
    margin-top: 74px;
    margin-bottom: 46px;
}

/* A MESSAGE OF MOTIVATION*/

.message {
    margin-left: 566px;
    margin-top: 56px;
}

/* THE ICON IN THE NAVBAR */
.icon {
    margin-left: 119px;
    cursor: pointer;
}

/* CHANGE THE COLOR OF THE EMAIL IN SUBSCRIBE */

.input-field label {
    color: crimson;
    font-family: Satisfy;
    font-size: 20px;
}

